<!-- using this component in fruitlist-component -->
<section class="singleFruitBox">
            <div>
              <!-- use of @if/@else -->
                @if (fruit.stars > 1) { 
                  <img src="./../../assets/img/fruits/{{fruit.img}}" alt="" srcset="">
                } @else {
                  Fruit is not so papuplar
                }
            </div>
            <div>
                <h2>  {{fruit.name}}</h2>
                <div>
                    <p><b>Bewertung:</b></p>
                    <div>

                        @for(count of [1,2,3,4,5]; track fruit) {
                          <!-- use od @if -->
                          <!-- @if(item.stars >= count) {
                            <img src="./../../assets/img/stars/star.svg" alt="" srcset="">
                          } @else if(item.stars >= count - 0.5) {
                             <img src="./../../assets/img/stars/star-half.svg" alt="" srcset="">
                          } @else {
                            <img src="./../../assets/img/stars/star-empty.svg" alt="" srcset="">
                          } -->

                          <!-- use of @switch -->
                          @switch (true) {
                            @case (fruit.stars >= count) {
                              <img src="./../../assets/img/stars/star.svg" alt="" srcset="">
                            } @case (fruit.stars >= count - 0.5) {
                              <img src="./../../assets/img/stars/star-half.svg" alt="" srcset="">
                            } @default {
                              <img src="./../../assets/img/stars/star-empty.svg" alt="" srcset="">
                            }
                          }
                        } 
                        <!-- use of ngStyle in Angular[inline style], can add more properties -->
                        <!-- <p [ngStyle]="{'background-color': item.stars > 3.5 ? starsFontColorGood : starsFontColorBad, 'color': 'blue'}">({{item.stars}})</p> -->
                         <p>({{fruit.stars}})</p>
                    </div>
                </div>
                <div><b>Art:</b><br>{{fruit.genus}}</div>
                <div><b>Beschreibung:</b><br>{{fruit.description}}</div>
                <div>
                    <div>
                          @for(review of fruit.reviews; track review){
                            <div><b>{{review.name}}:</b><br>{{review.text}}</div>
                          } @empty {
                            no comments available
                          }
                    </div>
                    <!-- What is [(ngModel)]?
                      [(ngModel)] is a directive provided by Angular's FormsModule.It is commonly used with form elements like <input>, <textarea>, and <select>.The [()] syntax is called banana-in-a-box and represents two-way data binding. How Does [(ngModel)] Work? 
From Component to View (One-Way Binding):
When the value of inputData changes in the component, the input field in the UI is automatically updated.
From View to Component (One-Way Binding):
When the user types into the input field, the value of inputData in the component is automatically updated.
Two-Way Binding:
Combines both of the above. Changes in the component are reflected in the UI, and changes in the UI are reflected in the component.-->
                    <div><input [(ngModel)]="inputData" type="text"><button><img (click)="sendInputData()" src="./../../assets/img/arrow-35-32.png" alt="" srcset=""></button>
                    </div>
                </div>
            </div>
</section>
